@media(maxwidth: 768px)
{
    p{
        font-size: 60px;
        background-color: lightblue;
    }
    .box{
        width: 300px;
        height: 300px;
        background-color: lightgreen;
    }
}

li{
    list-style-type: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 10px;
}