.container
{
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 2px solid black;
    background: rgb(182,182, 47);
    margin: 10px;
    text-align: center;
}
.box1
{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    background: rgb(47, 182, 182);
    margin: auto;
    margin-top: 10px;
}