/* h2
{
    color: green;
}
p{
    color: rgb(114, 250, 232);
    text-align: center;
    font-size: 25px;
}
.Par{
    color:rgba(40, 92, 58, 0.368)
}
#pid{
    color: purple; 
} */
/* div{
    height: 100px;
    width: 400px; 
    color: rgb(219, 138, 33);
    background-color: rgb(254, 254, 254);
    text-align: center;
    padding: 20px;
    margin: 100px;
    border: 2px solid rgb(0, 0, 0);
} */
div{
    border: 2px solid rgb(0, 0, 0);
 }
h2{
    color: rgb(163, 104, 15);   
    text-align: center;
}
p{
    color: rgb(85, 37, 130);
    font-size: 20px;
}